*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  /* display: none; */
}
.main-wrap{
  position:absolute;
  display: grid;
  height: 80vh;
  top: 10vh;
  left: 25vw;
  width: 50vw;
  place-items: center;
  padding-top: 10%;
}
main{
  width: 60%;
  text-align: center;
  border: 1px solid red;
  line-height: 2rem;
  margin: auto;
  border-radius: 20px;
  background-color: aquamarine;
  padding: 3%;
}
.pic-wrap{
  width: 100%;
  height: 30vh;
}
.art-wrap{
  width: 100%;
  height: 20vh;
}
.pic-wrap img, .art-wrap img{
  width: 100%;
  height: 100%;
}

.info{
  position: fixed;
  top: 30vh;
  left: 50vw;
  background-color: grey;
  padding: 2%;
  color: gold;
  display: none;
}
.show{
  display: block;
}
.navigation-section{
  position:fixed;
  bottom:5vh;
  right:5vw;
}

.video-game-button {
	text-shadow: 1px 1px pink, -1px -1px maroon;

	line-height: 1.5em;
	text-align: center;
	display: inline-block;
	width: 1.5em;
	-webkit-border-radius: .75em;
	-moz-border-radius: .75em;
	-o-border-radius: .75em;
		border-radius: .75em;
	background-color: red;
	-webkit-box-shadow:  0 .2em maroon;
	-moz-box-shadow:  0 .2em maroon;
	-o-box-shadow:  0 .2em maroon;
	box-shadow:  0 .2em maroon;
	color: red;
	margin: 5px;
	background-color: red;
	background-image: -o-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: -moz-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: -webkit-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	cursor: pointer;
  padding-left: 5px;
}
.start-btn{
    text-align: center;
	display: inline-block;
  padding: 10%;
  border-radius: 20px;
	margin:5px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;

}
.nav-top{
  text-align: center
}
.nav-mid{
  display: flex;
  gap:3rem;
}
.video-game-button:active, .start-btn:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}
.navigation-section{
  display: none
}
@media screen and (max-width: 600px){
  .main-wrap{
    width:90%;
    left: 5vw;
  }
  main{
    width: 100%;
  }
}